.hasError  input[type="text"]{
    border-left: 5px solid red;
  }
  
  .form-control{
    border-left: 5px solid green;
  }

  /* .form-control:focus{border-color: #5cb85c;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;} */